body {
    display: grid;
    grid-template-areas: "header header" "adImage shoeGrid";
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.header {
    grid-area: header;
    grid-row: 1 / span-all;
}

#adImage {
    grid-area: adImage;
}

#shoesGridConstainer {
    grid-area: shoeGrid;
}

#manWearingShoes {
    text-align: center;
}

.footer {
    text-align: center;
}

#address {
    text-align: center;
}

